#user-list{
  text-align: center;
  .ant-table-content{
    justify-content: center;
    align-items: center;
  }
  .ant-table-cell{
    text-align: center;
  }
}

#sell-list{
  text-align: center;
  .ant-table-cell{
    text-align: center;
  }
  .listNumber {
    width: 40px;
  }
  .sellListItem {
    width: 300px;
  }
  .totalPrice{
    width: 100px;
  }
  .userBank{
    width: 170px;
  }
}