#user-list{
  text-align: center;
  .ant-table-content{
    justify-content: center;
    align-items: center;
  }
  .ant-table-cell{
    text-align: center;
  }
}

#sell-list{
  text-align: center;
  .ant-table-cell{
    text-align: center;
  }
  .listNumber {
    width: 40px;
  }
  .sellListItem {
    width: 300px;
  }
  .totalPrice{
    width: 100px;
  }
  .userBank{
    width: 170px;
  }
  .sellListFeat {
    width: 150px;
    margin: 10px auto;
    button {
      margin-bottom: 10px;
    }
    .done {
      color: blue;
    }
    .isCanceled {
      color: red;
    }
    }
}

.disable {
  display: none;
}