.cart-page {
  display: flex;
  position: relative;
  justify-content: space-between;

}

.cart-content {
  flex: 7;
}

.cart-sidebar {
  flex: 3;
  position: sticky;
  top: 180px;
  height: calc(100vh - 100vh);
  padding: 2rem;
  border-left: 1px solid #f0f0f0;
  background-color: #ffffff;
}

.cart-sidebar > .sidebar-content {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 2rem; /* space for the header */
}
