* {
  margin: 0;
}

html {
  --color-black: #141414;
  --color-white: #fff;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-5: rgba(0, 0, 0, 0.05);
  --color-primary: #5e90f2;
  --color-primary-20: rgba(94, 144, 242, 0.2);
}

//전역스타일
body {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
}
a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 35px;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.page_title {
  font-size: 24px;
  padding: 20px 0;
  font-weight: 700;
}
.page_discription {
  color: var(--color-black-50);
}
.title__text {
  font-weight: 700;
  font-size: 28px;
  padding: 20px 0 12px 0;
}
.hilight {
  color: var(--color-primary);
}

//스타일
.app {
  color: var(--color-black);
  width: 1200px;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
}



header {
  background-color: var(--color-white);
  padding: 0 30px;
  height: 124px;
  width: 1200px;
  top: 0;
  align-items: center;
  position: sticky;
  z-index: 9;

  .login-nav {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding-top: 20px;

    a {
      font-size: 12px;
      color: var(--color-black-50);
    }
  }

  nav {
    height: 60%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu {
      display: flex;
      flex-grow: 1;
      align-items: center;

      .logo {
        img {
          height: 24px;
        }
      }

      .nav-list {
        margin-left: 42px;
        padding: 0;

        .nav-list__link {
          font-weight: 700;
          transition: 0.1s;
          cursor: pointer;
        }
        .nav-list__link:hover {
          font-weight: 700;
          color: var(--color-primary);
          padding-bottom: 3px;
          border-bottom: var(--color-primary) solid 2px;
        }
        .nav-list__active {

          font-weight: 700;
          color: var(--color-primary);
          padding-bottom: 2px;
          border-bottom: var(--color-primary) solid 2px;
          cursor: pointer;
        }
      }
    }

    .nav-extra {
      display: flex;
      gap: 24px;

      .search {
        padding-right: 25;
      }

      .icons {
        font-size: 24px;
        display: flex;
        gap: 24px;
        height: 36px;

        .icons-list {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

section {
  padding: 0 122px;
}

footer {
  padding: 160px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-black-50);

  .footer-links a {
    margin-right: 16px;
  }
}

.drop-list {
  padding: 0;
  background-color: var(--color-white);
  height: 40px;

  .drop-list__item {
    box-sizing: border-box;
    height: fit-content;
    padding: 6px 10px;
    transition: 0.1s;

    .drop-list__link {
      transition: 0.1s;
    }
  }

  .drop-list__item:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-primary-20);
  }

  .drop-list__item:hover .drop-list__link {
    font-weight: 700;
  }
}

.title {
  padding-bottom: 24px;
}
.img_detail {
  display: flex;
  gap: 60px;
  padding: 24px 0 64px 0;
  .cover {
    overflow: hidden;
    width: 400px;
    border-radius: 20px;
    img {
      width: 400px;
    }
  } 
  .subDetail {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    padding: 40px 0;
    flex-direction: column;
    justify-content: space-between;
    .subDetailBox {
      width: 100%;
      display: flex;
      padding-bottom: 24px;
      .subDetail__title {
        font-weight: 700;
        width: 76px;
        flex-shrink: 0;
      }
    }
  }
}

.loadingAnimation {
  padding: 150px 0;
  text-align: center;
}

.discription {
  display: flex;
  flex-wrap: wrap;
  .discriptionBox:not(:last-of-type) {
    border-bottom: var(--color-black-10) 1px solid;
  }
  .discriptionBox {
    display: flex;
    padding: 40px 0;
    .discription__title {
      width: 240px;
      font-size: 18px;
      font-weight: 700;
      flex-shrink: 0;
    }
    .discription__text {
      .author {
        padding-bottom: 24px;
        .author__box {
          display: flex;
          gap: 16px;
          align-items: center;
          padding-bottom: 12px;
          .author__name {
            font-size: 16px;
            font-weight: 700;
          }
          .author__type {
            color: var(--color-black-50);
          }
        }  
      }
    }
  }
}

.booksInfo {
  padding: 20px 0 40px 0;
  .bookInfo:not(:first-of-type) {
    border-top: var(--color-black-10) 1px solid;
  }
  .bookInfo {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    .bookInfo_box {
      display: flex;
      gap: 24px;
      .bookImg {
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 140px;
        }
      }
      .bookImg:hover {
        cursor: pointer;
      }
      .book {
        padding: 24px 0;
        color: var(--color-black-50);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .book_top {
          .bookTitle {
            color: var(--color-black);
            font-weight: 700;
            padding-bottom: 10px;
          }
          .bookTitle:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .book_bottom {
          .bookreview {
            padding-bottom: 10px;
          }
        }
      }
      .bookBtn {
        padding: 30px 0;
      }
    }
  }
}

.pagination {
  width: fit-content;
  margin: 0 auto;
}

.filterList {
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
}