.userImg {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border: 5px solid #5e90f2;
  border-radius: 150px;
}
.imgInputWrap {
  display: flex;
  width: 400px;
  margin: 30px auto 0;
  padding: 5px;
  justify-content: center;
  border: 5px solid #5e90f2;
}
.userNameWrap {
  display: flex;
  width: 400px;
  margin: 30px auto 0;
  padding : 5px;
  justify-content: center;
  border: 5px solid #5e90f2;
}

.current-userName {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
